<div class="container-fluid">
    <div class="row flex-nowrap"  >
        <div class="col-auto col-md-12 col-xl-12 px-sm-12 px-0 " style="border: 2px solid gray; ">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline"></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/consultas" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" style="color: gray;
                            font-size: 17px;
                            font-weight: 600;"></span>
                            <img src="../../../../assets/img/login/logo1.png" style="width: 60%;" />
                        </a>
                    </li>
                    <li  >
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle " style="">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="color: gray;
                            font-size: 17px;
                            font-weight: 600; ">Consultas</span> </a>
                    
                    </li>
                    <li  >
                        <a  data-bs-toggle="collapse" class="nav-link px-0 align-middle " style="">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="color: gray;
                            font-size: 17px;
                            font-weight: 600; "(click)="logOut()">Salir</span> </a>
                    
                    </li>
                 
                </ul>
                <ul>

                </ul>
                <hr>
               
            </div>
        </div>
        
    </div>
</div>