
<div class="row ">
    <div class=" col-lg-3 col-sm-12" style="margin-top: 2%;">
    <app-sidebar></app-sidebar>
    </div>
    <div class=" col-lg-9 col-sm-12" style="margin-top: 2%; background-color: rgb(238, 238, 238)">


        <div class="row justify-content-center">
            <div class="col col-lg-12 col-sm-12">
                <hr>
                <p style="font-weight: 600;">
                    Asesor:<span> {{username[0].name}} </span>
                </p>
                <!-- <p style="font-weight: 600;">
                    Asesor:<span> {{userId}} </span>
                </p> -->
                <hr>
            </div>
            <div class="row container">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">
                                Filtros

                            </h6>
                            <div class="row container">
                                <div class="col col-lg-4 col-sm-12">
                                    
                                   
                                    <div [formGroup]="formulario">
                                        <date-range-picker [controlName]="'dateRange'" [options]="options" [parentFormGroup]="formulario" ></date-range-picker>
                    
                                    </div>
                                    
                                </div>
                                <div class="col col-lg-4 col-sm-12">
                                    
                                    <label > Asesores</label>
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedAsesor">
                                       
                                        <ng-container *ngFor="let item of listAsesores">
                                            <option value="{{item.userName}}">{{item.name}}</option>
                                        </ng-container>
                                       
                                      </select>
                                    
                                </div>
                                <div class="col col-lg-4 col-sm-12">
                                    
                                    <label > Tipo de Transacción</label>
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="type" >
                                        <option selected disabled   >Selecciona Transacción</option>
                                        <option value="1" >Depósitos</option>
                                        <option value="2" >Cobros</option>
                                        <option value="3" >Todos</option>
                                      </select>
                                    
                                </div>
                    
                                
                            
<div class="row justify-content-center" style="margin-top: 3%;">
    <div class="col-lg-3">
        <button class="btn btn-danger" style="width: 100%;" (click)="findByRange()"> Consultar</button>
    </div>

</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inicio de estadisticas  -->
            <div class="row container" style="margin-top:3%;margin-bottom: 3%;">

                <div class="col-6">
                    <div class="row container">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        Suma de Recaudaciones
                                    </h6>
                                    <p style="    font-size: 36px;
                                    font-weight: 700;
                                    color: crimson;">
                                      $  {{data.sumadepo.toFixed(2)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row container">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        Suma de Recaudaciones Préstamos
                                    </h6>
                                    <p style="    font-size: 36px;
                                    font-weight: 700;
                                    color: crimson;">
                                       $ {{data.sumacobros.toFixed(2)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin de estadisticas -->
         
        
         
            <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-sm-12">
                    <div class="card" style="width: 100%; background-color: rgb(244, 244, 244);">

                        <div class="card-body">
                            <blockquote class="blockquote mb-0">

                                <table class="table table-striped table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">N</th>
                                        <th scope="col">Socio</th>
                                        <th scope="col">Asesor</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Comentario</th>
                                        <th scope="col">Fecha</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of dataTable; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.nombreSocio}}</td>
                                        <td> {{item.name}}</td>
                                        <td> </td>
                                        <td> {{item.monto}}</td>
                                        <td> {{item.description}}</td>
                                        <td> {{localDate(item.fecha_creacion)}}</td>
                                       
                                      </tr>
                                    
                                    </tbody>
                                  </table>

                               

                            </blockquote>
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






