
<div class="row justify-content-center" >
    <div class="col-lg-5 col-sm-12" style="  display: flex; align-items: center;">

        <img src="../../assets/img//login/vectorLOGIN.png" style="width:100%; ">
    
    </div>
    <div class="col-12 col-md-5" style="background-color: #D20B12; height: 750px;"  >
    
        <div class="row justify-content-center"  >
            <div>
                
            </div>
            <div class="col-lg-10 col-sm-12" style="  display: flex; align-items: center; margin-top: 5%;border-top-left-radius: 10px;border-top-right-radius: 10px; background-color: white; ">
        
                <img src="../../assets/img/login/logo1.png"
                    style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 20%;">
            </div>
            <div class="col-lg-10 col-sm-12" style="  background-color: white; text-align: center; padding-top: 2%;">
                <h5 style="text-align: center;">
                    Ingresa los siguientes Datos para iniciar sesión:
                </h5>
            </div>
            <div class="col-lg-10 col-sm-12" style="  background-color: white;">
                <div style="margin-left: 5%;">
                    <label style="font-weight: 700; margin-top: 2%;">Usuario</label>
                  
                </div>
            </div>
            <div class="col-lg-10 col-sm-12" style=" background-color: white;">
                <div style="text-align: center;">
                
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px; width: 90%;margin-left: 5%;"  [(ngModel)]="user">
                </div>
            </div>
            <div class="col-lg-10 col-sm-12" style=" background-color: white;">
                <div style="margin-left: 5%;">
                    <label style="font-weight: 700; margin-top: 2%;">Contraseña</label>
                  
        
                </div>
            </div>
            <div class="col-lg-10 col-sm-12" style=" background-color: white;">
                <div style="text-align: center;">
                  
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="border-radius: 5px; width: 90%;margin-left: 5%;"  [(ngModel)]="password">
        
                </div>
            </div>
            <div class="col-lg-10 col-sm-12" style=" background-color: white;">
                <div style="text-align: center; margin-top: 2%;">
                    <button  style="border-radius: 5px;width: 90%;background-color: #D20B12; color: white; font-weight: 600; border: 2px solid #D20B12; " (click)="ingresar(user,password)" >Ingresar</button>
                   
        
                </div>
            </div>
           
          
            <div class="col-lg-10 col-sm-12" style=" background-color: white;">
                <div style="text-align: left; margin-top: 2%; display: flex;justify-content:space-between; width: 90%; margin-left: 5%;">
                  
              
        
                </div>
              
            </div>
            <div class="col-lg-10 col-sm-12" style=" border-bottom-left-radius: 10px;border-bottom-right-radius: 10px; background-color: white;">
                <p></p>
            </div>
     
    </div>
 